
@{
    Layout = null;
}

<h3>Main page</h3>
<div class="row">
    <div class="col-md-3">
        <div class="panel panel-default">
            <div class="panel-body">

                <div kendo-tree-view="tree" k-options="treeOption">
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-9">
    </div>
</div>